{% extends "layouts/main.html" %}

{% block pageTitle %}
    {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter your full name
      </h1>

        <p class="govuk-body">You have chosen {{data['celestialObject']}}</p>

      <form class="form" action="address" method="post">

          <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                  Full name
              </label>
              <input class="govuk-input" id="full-name" name="fullName" value="{{ data['fullName'] }}" type="text" spellcheck="false" autocomplete="name">
          </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
